.QueryForm
{
    font-size:14pt;
    font-family: "Lucida Console", "Courier New", monospace;
}

.QueryForm input
{
    
    margin: 0 auto;
    display: block;
    font-family: "Lucida Console", "Courier New", monospace;
    word-break: break-all
    
}

#search{
    height:100px;
    width:500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    
}

#submit-btn{
    height:70px;
    width:270px;
    margin-top: 1vh;
    color: #fff;
    border:none;
    border-radius:10px;
    background-color:#0a0a23;
    font-size:18pt;
    font-family: "Lucida Console", "Courier New", monospace;
    
}



/* #submit-btn:hover {
    color: #fff;
    background-color: #d70b60;
    border-color: #ca0a5d;
} */

.QueryForm ::placeholder
{
    font-size:12pt;
}


